.items-row {
	clear: both;
	overflow: auto;
	margin-bottom: 1em;

	p {
		margin: .5em 0;
	}
}

.cat-items {
	margin-top: 1em;
}


.category-list {

	tr {
		margin-bottom: 1em;
		display: block;

		.list-title {
			display: block;
		}

		.list-date {
			min-width: 120px;
			margin-left: 10px;
		}
	}
}

.pagination {
	margin-top: 1em;

	p.counter {
		text-align: center;
	}

	ul {
		padding: 0;
		text-align: center;

		li {
			display: inline-block;
			*display: inline;
			*zoom: 1;
			width: 28px;
			height: 32px;
			line-height: 32px;
			background: whitesmoke;
			border-radius: 2px;
			border: 1px solid #CECECE;
			margin: 0 4px 2px 0;
			&.pagination-start,
			&.pagination-prev,
			&.pagination-next,
			&.pagination-end {
				width: 42px;

				a {
					display: block;
				}
			}
		}
	}
}