@import "_variables";
@import "_mixins";
@import "normalize";
@import "forms";

body {
	color: #4e4e4e;
}

.DonorInformationTextboxLabel {
	float: left;
	padding-right: 3px;
	min-width: 150px;
	font-weight: bold;
	font-size: 14px;
}

.DonorInformationTextbox {
	float: left;
}

h2,
#LeftBar h2 {
	padding: 0;
	margin: 1em 0 15px;
	font-size: 18px;
}

input[type="text"] {
	padding: 4px;
	border: 1px solid lightGrey;
	width: 250px;
}

input[type="radio"] {
	margin: 0 5px;
}

input[type="button"],
input[type="submit"] {
	border: 0;
	padding: 4px;
}

#DonationTypes {
	width: 190px;
}

#DonationAmount {
	width: 100%;
}

#ctl00_Body_cxNumPaySection {
	padding: 0 !important;
}

#Instructions {
	font-size: 14px !important;
}