/* elements */
body, select, input, textarea {
	color: $text;
	font-family: "myriad-pro", Helvetica, Arial, sans-serif;
}

body {
	font-size: .875em; // 14px
	background-color: #aa0c04;
	overflow: hidden;
}

* { 
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;

	// FIXME: Change this to the right path
	*behavior: url(/templates/unitedway/resources/boxsizing.htc); // IE7 only
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	margin: 0;
	padding: .83em 0;
}

.item-page h1,
.blog > h1,
.category-list > h1 {
	font-size: 15px;
	color: $red;
	background: url('../images/divider_dotted.png') bottom center repeat-x;
}

.items-row h1,
h2 {
	font-size: 18px;
	padding-bottom: 0;
}

h3 {
	font-size: 16px;
	padding-bottom: 0;
}

h1 { font-size: 2em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.0em; }

a, a:active, a:visited {
	color: $red;
	text-decoration: none;
}
a:hover {
	color: $red;
	text-decoration: underline;
}

img {
	max-width: 100%;
	height: auto;
	
	.ie8 & {
		width: auto;
	}
}