@import "_variables";
@import "_mixins";

/* forms */

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }

/* Colors for form validity */
/* TODO Update valid/invalid colors */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
   border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }

form.Chronoform {
	margin-top: 1em;
}

.multiline_start {
	clear: left !important;
}

.small-message {
	margin-left: 0;
}

//removes powered by
.chronoform {
	display: none;
}

//css for form not using chronoform css

label {
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
}

.width-16 {
	width: 16.666%;
	float: left;
}

.width-20 {
	width: 20%;
	float: left;
}

.width-25 {
	width: 25%;
	float: left;
}

.width-33 {
	width: 33.33%;
	float: left;
}

.width-40 {
	width: 40%;
	float: left;
}

.width-50 {
	width: 50%;
	float: left;
}

.width-60 {
	width: 60%;
	float: left;
}

.width-66 {
	width: 66.66%;
	float: left;
}

.width-100 {
	width: 100%;
	float: left;
}

.multiline_start {
	clear: both;
}

.style-1 {
	label {
		width: 50%;
		float: left;
	}
}

.style-3 {
	overflow: auto;

	label {
		height: 2em;
		vertical-align: bottom;
	}

	input {
		width: 95%;
	}
}

.style-4 {
	text-align: center;
	margin: 2em 0 1em;
	overflow: auto;

	.width-40 {
		text-align: left;
		&:first-child {
			text-align: center;
		}
	}

	input {
		width: 95%;
	}
}

.style-6 {
	margin: 2em 0 1em;
	overflow: auto;

	input {
		width: 95%;
	}
}

//5 column table
.style-7 {
	overflow: auto;
	margin: 2em 0 1em;

	input {
		width: 95%;
	}
}

.style-8 {

	overflow: auto;

	h3 {
		text-align: center;
	}

	input {
		width: 95%;
	}

	.cfdiv_header.multiline_add {
		text-align: center;
	}
}

.style-9 {
	overflow: auto;

	input {
		width: 95%;
	}
}

//default 

.ccms_form_element {
	margin-bottom: 3px;

	p {
		margin: .63em 0;
	}

	textarea {
		width: 100%;
	}
}

.cfdiv_textarea {
	label {
		display: block;
		margin-top: 1em;
	}
}

//headers
.cfdiv_header {
	label {
		display: block;
		margin-top: 1.5em;
		width: auto;
	}

	&.multiline_start,
	&.multiline_add {
		min-height: 30px;

		.venture-grant-application-form & {
			width: 265px;
		}

		p {
				margin: 0;
		}
	}

	&#autoID-816a38c9854f6f8130c57e32ce098c03_container_div {
		width: 150px;
	}

	// &#autoID-b1f1522554249fb06e5b407bc51068b5_container_div {
	// 	width: 25%;
	// }

	.community-impact-program-outcome-report-form &.multiline_start {
		width: 25%;

		+ div {
			width: 25%;
			+ div {
				width: 25%;
				+ div {
					width: 25%;
				}
			}
		}
	}
}

.cfdiv_text,
.cfdiv_header {
	&.multiline_add {
		padding-left: 5px !important;
	}
}

//checkbox groups
.cfdiv_checkboxgroup {
	margin-top: 10px;

	input[type="checkbox"] {
		margin-top: 0;
	}

	label {
		margin-top: 0;
		width: auto;
	}
}

.cfdiv_checkboxgroup.label_over {

	input {
		float: left;
		clear: left;
		margin: 0 1% 0 0;
		width: 4%;

		.community-impact-program-outcome-report-form & + div {
			float: none !important; 
		}
	}

	div {
		label {
			font-weight: normal;
			float: left;
			margin: 0;
			width: 95%;
		}
	}
}

//alert messages 
.cf_alert {
	ol {
		margin-top: 1em;
	}
}

