.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 2.5%;
}

#mobile-menu {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 100%;
	width: 100%;
	overflow: hidden;
	z-index: 0;
	background-color: $dark-red;
	padding: 10px;

	@include transition(bottom .3s ease-in-out);

	body.menu-open & {
		top: 0;
		bottom: 0;
		z-index: 10;
		margin-top: 30px;
	}
}

#wrapper {
	position: relative;
	left: 0;
	background-color: #ffffff;
	position: relative;
	z-index: 5;
	box-shadow: 0 0 30px #333;
	min-height: 100%;
}

#header {
	padding: 0 0 15px;
	background: url('../images/bg_headerRepeat-mobile.png') top center repeat-x;
}

#masthead {
	padding: 0 0 20px;
}

#top {
	padding: 20px 0;
	background: url('../images/divider_dotted.png') top center repeat-x;
	text-align: center;
}

#main {
	padding: 0 0 20px;
	background: url('../images/divider_dotted.png') top center repeat-x;
}

#precontent {
	padding-top: 20px;
}

#content {
	float: left;
	width: 100%;

	&.wide1 {
		width: 100%;
	}
}

#sidebar {
	float: left;
	width: 100%;
}

#footer {
	text-align: center;
	padding: 20px 0;
	background: #aa0c04 url('../images/bg_footerRepeat.png') top center repeat-x;
	min-height: 174px;
	
	font-size: 12px;
	color: #ffffff;
	
	a {
		color: #ffffff;
	}
}

//search page

#search-form {
	padding: 20px 0 0;

	fieldset {
		margin: 0;
	}
}

#search-results {
	padding: 10px 0 0;

	.result-text {
		padding: 10px;
		margin: 0 0 2em;
		background-color: whitesmoke;
	}
}