.container {
	width: 960px;
	padding: 0 10px;
}

#wrapper {
	min-width: 960px;
}

#content {
	width: 65.957446809%;
}

#sidebar {
	width: 34.042553191%;
	padding-left: 2.127659574%;
	margin-left: 0;
}