// @group hmenu
.hmenu {

	.menu {
		margin: 0;
		padding: 0;
	}

	.menu > li {
		display: inline-block;
		*display: inline;
		*zoom: 1;
		position: relative;
	
		padding: 0 5px;

		&:hover div {
			display: block;
		}
	}

	.menu > li > a,
	.menu > li > span {
		cursor: pointer;

		span {

		}
	}

	ul ul {
		list-style: none;
		padding-left: 0;
		margin: 0;
	}

	a {
		display: block;
	}
}

.primary {
	padding: 24px 0 0;
	font-weight: 600;
	font-size: 12px;
	position: relative;
	z-index: 1;
	
	li {

		> a,
		> span {
			color: $dark-grey;
			&:hover {
				color: black;
				text-decoration: none;
			}
		}

		&:first-child {
			padding-left: 0;
		}
		&.active {
			> a,
			> span {
				color: black;
			}

			li a {
				color: white;
			}

		}

		&.last {
			float: right;
		
			a {	
				color: $red;
				&:hover {
					color: black;
				}
			}
		}
	}

	li > div { // submenu
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		background: url('../images/bg_dropmenu-top.png') 28px top no-repeat;
		padding-top: 8px;

		ul {
			margin: 0;
			font-weight: normal;
			border-radius: 4px;
			background-color: $medium-red;
			box-shadow: -3px 2px 3px rgba(black, .25);
			padding: 10px 0;
		}

		li {

			&:hover {
				background-color: $dark-red;
			}
		}

		a {
			color: white;
			padding: 0 10px;
			line-height: 22px;
			white-space: nowrap;

			&:hover {
				color: white;
			}
		}

		.last {
			float: none;

			a {
				color: white;
				&:hover {
					color: white;
				}
			}
		}
	}
}

.top {
	float: right;
	background: url('../images/bg_headerSwoosh.png') top right no-repeat;
	clear: right;
	width: 55%;
	
	font-size: .85714285714em;
	text-align: right;
	
	.menu {
		height: 34px;
		
		li {
			padding: 0;
			margin-left: 6px;
			border-left: 1px solid #ffffff;
			line-height: 1em;
			&:first-child {
				border-left: 0;
			}
		}
	}
	
	a {
		margin-left: 6px;
		color: white;
		&:hover {
			color: white;
		}
	}
}

// @group vmenu
.vmenu {

	.menu {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	ul ul { // submenus
		margin: 0;
		list-style: none;
	}
}

.mobile {
	font-size: 14px;
	color: $dark-grey;
	padding: 0;

	li {
		line-height: 38px;
	}

	.menu > li {

		> a,
		> span {
			color: #ffffff;
			background: $red;
			background-image: -moz-linear-gradient(top, #c80f05, #f72015);
			background-image: -o-linear-gradient(top, #c80f05, #f72015);
			background-image: -webkit-linear-gradient(top, #c80f05, #f72015);
			background-image: linear-gradient(top, #c80f05, #f72015);
			padding-left: 13px;
			display: block;
			border-bottom: 1px solid #de6f69;
		}
	}

	ul ul {
		margin: 0;
		padding: 0;

		a,
		span {
			color: $text;
			padding-left: 35px;
			display: block;
			border-bottom: 1px solid #ededed;
		}
	}

	&:first-child {
		border-top: 1px solid #de6f69;
	}
}

.sitemap {
	font-size: 14px;

	.menu {

		> li {

			a, span {
				color: $text;
				padding-bottom: .5em;
				display: inline-block;
				*display: inline;
				*zoom: 1;
			}
		}

		ul {
			padding-left: 20px;

			a {
				color: $red;
			}
		}
	}
}
