.module.thermometer {
	.custom {
		text-align: inherit;
	}
}

.module.social-link {
	background: url('../images/bullet_grey.jpg') left center no-repeat;
	width: 34.583333333%;

	&:first-child {
		width: 30.833333333%;
		background: none;
	}
}

.module.logo {

	.ie7 & {
		margin-top: 15px;
	}
}

.module.sidebar,
.full .module.sidebar {
	margin: 0 0 1em;
	width: 100%;		
	margin-left: 0;
	.home & {
		margin-top: 1em;
	}
}