// @group modules

.module.logo {
	width: 100%;
	text-align: center;
	padding-top: 40px;
}

.module.search-bar {
	position: absolute;
	top: 1px;
	right: 10px;
	
	input {
		border: 1px solid #efefef;
		border-radius: 7px;
		padding-left: 5px;
		height: 26px;
	}
	
	button {
		position: absolute;
		top: 0px;
		right: 5px;
		width: 26px;
		height:25px;
		background: url('../images/icon_search.png') center center no-repeat;
		background-size: 75%;
		
		border: none;
		text-indent: -9999px;
	}
}
	}
}

//colored modules

#sidebar,
#bottom {
	
	.module {
		
		h3 {
			font-size: 15px;
			padding-left: 35px;
			background-repeat: no-repeat;
			background-position: left center;
			background-size: 23px;
		}
		
		ul {
			list-style: none;
			padding: 0;
			
			li {
				padding-left: 10px;
				background-repeat: no-repeat;
				background-position: left 5px;
			}
		}
		
	}
	
	.module .custom {
		padding-top: 20px;
		background: url('../images/divider_dotted.png') top center repeat-x;

		*:first-child {
			margin-top: 0;
		}
	}
}

.module.red {
	
	h3 {
		color: $red;
	}
	
	ul {
		li {
			background: url('../images/bullet_red.png');
		}
	}
}

.module.blue {
	
	h3 {
		color: $blue;
	}
	
	ul {
		li {
			background: url('../images/bullet_blue.png');
		}
	}
}

.module.yellow {
	
	h3 {
		color: $yellow;
	}
	
	ul {
		li {
			background: url('../images/bullet_yellow.png');
		}
	}
}

//headers with icon
.module.goals h3 {
	background: url('../images/icon_goals.png');
}

.module.downloads h3 {
	background: url('../images/icon_downloads.png');
}

.module.news h3 {
	background: url('../images/icon_news.png');
}

.module.events h3 {
	background: url('../images/icon_events.png');
}


//show-menu 

.module.show-menu {
	position: absolute;
	top: 1px;
	height: 28px;
	width: 40px;
}