.module.search-bar {
	
	input {
		width: 300px;
	}
}

.module.feed-twitter {
	width: 80%;
	text-align: left;
	background-position: left center;
	padding: 10px 0 10px 150px;
}

.module.sidebar {
	float: left;
	clear: none;

	.full & {
		width: 33.333333333%%;
	}
}

.module.social-links {
	width: 20%;
	float: right;
	margin-top: 0;
}

.module.bottom {
	width: 33.333333333%;
	&.first {
		width: 33.333333333%;
	}
}

#copyright {
	width: 33.333%;
	float: left;
}

.module.back-to-top {
	width: 33.333%;
	float: left;
	text-align: right;
}

.module.footer-logos {
	width: 33.333%;
	float: left;
	text-align: center;
}