.module.thermometer {
	.custom {
		text-align: inherit;
	}
}

.module.feed-twitter {

	.ie8 &,
	.ie7 & {
		background: url('../images/icon_twitter-bird.png') left center no-repeat;
	}
}
.module.sidebar {
	margin-top: 0;
	.home & {
		margin-top: 1em;
	}

	&:nth-child(n) {
		width: 100%;
		margin-left: 0;
	}
}