.module.logo {
	width: auto;
	float: left;
	margin-top: -11px;
	
	text-align: none;
	padding-top: 0;
}

.module.search-bar {
	float: right;
	margin-top: 30px;
	position: relative;
	
	input {
		height: 37px;
		border: 2px solid #efefef;
		border-radius: 14px;
		width: 180px;
		
		padding-left: 10px;
	}
	
	button {
		top: 5px;
		right: 10px;
		background-size: 100%;
	}
}

.module.feed-twitter {
	
	.twitter-title {
		float: left;
		margin: 0 20px 10px 0;
	}
	
	.twitter-tweet {
		max-width: 580px;
		margin-left: 165px;
	}
}

.module.sidebar,
.module.bottom {
	background-size: 110px;
}

//widths of sidebar mods if more are added

.module.sidebar {
	width: 100%;
	padding-left: 2.127659574%;
	float: left;
	clear: none;
	
	&:first-child {
		width: 100%;
	}
	
	.home & .module {
		padding-bottom: 0;
	}
}

.module.bottom {
	width: 50%;
	padding-left: 2.127659574%; //20px
	float: left;
	padding-bottom: 40px;
	
	&:first-child {
		width: 100%;
	}
}