.module.search-bar {
	
	input {
		width: 300px;
	}
}

.module.feed-twitter {
	width: 80%;
	
	.twitter-tweet {
		text-align: left;
	}
}

#sidebar .module {
	width: 33.333333333%%;
	float: left;
	clear: none;
}

.module.social-links {
	width: 20%;
	float: right;
	margin-top: 0;
}

#bottom .module {
	width: 33.333333333%;
	&.first {
		width: 33.333333333%;
	}
}

#copyright {
	width: 33.333%;
	float: left;
}

.module.back-to-top {
	width: 33.333%;
	float: left;
	text-align: right;
}

.module.footer-logos {
	width: 33.333%;
	float: left;
	text-align: center;
}