.module.logo {
	width: auto;
	float: left;
	margin-top: -11px;
	
	text-align: none;
	padding-top: 0;
}

.module.search-bar-desktop {
	float: right;
	margin-top: 30px;
	position: relative;
	
	input {
		height: 37px;
		border: 2px solid #efefef;
		border-radius: 14px;
		width: 180px;
		
		padding-left: 10px;
	}
	
	button {
		top: 5px;
		right: 10px;
		background-size: 100%;
	}
}

.module.feed-twitter {
	
	.twitter-title {
	}
	
	.twitter-tweet {
		width: auto;
		text-align: left;
		float: none;
	}
}

#bottom .module {
	width: 48.936170213%;
	float: left;
	
	&.first {
		width: 100%;
	}
	
	&.third {
		margin-left: 2.127659574%; //20px
	}
}