.mod_slideshow {

	.description {
		display: block;
	}

	.controls {
		position: absolute;
		right: 15px;
		bottom: 8px;

		> div {
			background-size: 18px;
			height: 18px;
			width: 18px;
			margin-left: 5px;
			position: static;
		}
	}
}