// styles
.clr, .clear { clear: both; }
.left { float: left; }
.right { float: right; }

.hidden { display: none; }

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
/* TODO Update selection BG color */
::-moz-selection{ background: $red; color:#fff; text-shadow: none; }
::selection { background: $red; color:#fff; text-shadow: none; }

.image-border {
	box-shadow: 0px 0px 8px rgba(0, 0, 0, .15);
	border: 4px solid #fff;
}

//icons

.icon-goals h3 {
	background-image: url('../images/icon_goals.png');
	padding-left: 35px;
}

.icon-downloads h3 {
	background-image: url('../images/icon_downloads.png');
	padding-left: 35px;
}

.icon-news h3 {
	background-image: url('../images/icon_news.png');
	padding-left: 35px;
}

.icon-events h3 {
	background-image: url('../images/icon_events.png');
	padding-left: 35px;
}

.icon-twitter-bird {
	background: url('../images/icon_twitter-bird.png') left center no-repeat;
	background-size: 41px;
	padding-left: 53px;
}
.btn-navbar {
	@include btn-navbar;
}

.btn-navbar .icon-bar {
	@include icon-bar;
	
	& + .icon-bar {
		margin-top: 3px;
	}
}