.mod_thermometer {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.mod_thermometer .thermo {

}

.mod_thermometer .asdf {
	position: relative;
}

.mod_thermometer ul {
	padding: 0;
}

.mod_thermometer .mercury {
	position: absolute;
}

.mod_thermometer .ball {
	clear: both;
	width: 50px;
	height: 50px;
	border-radius: 25px;

	background: green;
}